@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,700&display=swap');

body {
  font-family: 'Cooper Hewitt', 'IBM Plex Sans', sans-serif;
  line-height: 1.5em;
  font-weight: 350;
}

.vga {
  font-family: 'vga8', monospace;
}

/* heading */
.title {
  font-family: 'vga8', monospace;
  font-size: 120px;
  margin-bottom: 10px;
  line-height: 1em;
}

.subtitle {
  font-family: 'Cooper Hewitt', 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  line-height: 1.3em;
}

/* functionality */
.site-locker-chooser {
  margin-top: 125px;
}

.container {
  width: 50vw;
  max-width: 1000px;
  margin: 300px auto 100px 30vw;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 60px;
    margin-bottom: 75px;
  }
  .container {
    margin: 120px auto;
    width: 80vw;
  }
}

/* form form form */

form {
  margin-top: 30px;
}

legend {
  font-family: 'vga8', monospace;
  font-size: 24px;
}

fieldset {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: #ddd;
  border-style: solid;
  margin: 10px 0;
}
