@font-face {
  font-family: 'vga8';
  src: url('./fonts/vga8.woff2') format('woff2'),
    url('./fonts/vga8.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-book-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-bookitalic-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-bookitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-lightitalic-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
