@font-face {
  font-family: 'vga8';
  src: url('./fonts/vga8.woff2') format('woff2'),
    url('./fonts/vga8.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-bolditalic-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-bolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-book-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-bookitalic-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-bookitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-heavy-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-heavyitalic-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-heavyitalic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-lightitalic-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-semibold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./fonts/cooperhewitt-semibolditalic-webfont.woff2') format('woff2'),
    url('./fonts/cooperhewitt-semibolditalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}