body {
  font-family: 'Cooper Hewitt', 'IBM Plex Sans', sans-serif;
}

.vga {
  font-family: 'vga8', monospace;
  letter-spacing: 1px;
}

.ch {
  font-family: 'Cooper Hewitt', 'IBM Plex Sans', sans-serif;
}

/* heading */
.title {
  font-family: 'vga8', monospace;
  font-size: 120px;
  margin-bottom: 10px;
  line-height: 1em;
}

.subtitle {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 100;
}

/* functionality */
.site-locker-chooser {
  margin-top: 125px;
}

.container {
  width: 50vw;
  max-width: 1000px;
  margin: 300px auto 100px 30vw;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 60px;
    margin-bottom: 75px;
  }
  .container {
    margin: 120px auto;
    width: 80vw;
  }
}

/* general buttons */
button.base {
  border: 3px solid blue;
  border-radius: 20px;
  font-size: 1.3em;
  background-color: #FFFFFFFF;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.1s;
}

button.base:hover {
  background-color: blue;
  color: white;
}

button.blend {
  border: 0px;
  background-color: #FFFFFFFF;
  cursor: pointer;
}
